@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --main-color: #2ac95a;
    --color-dark: #1D2231;
    --text-grey: #828fa1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
<<<<<<< HEAD
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #272a29;
}

.left_div {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 50px;
}

.rightdiv {
    margin-left: 5%;
    width: 80%;
}

.leftdiv {
    width: 20%;
}

.hamberg {
    text-decoration: none;
    font-size: 1.7rem;
    padding-left: 40px;
    padding-right: 20px;
    color: #38d39f;
    display: none;
}

.logo {
    width: 100px;
    margin-right: 10px;
}

.h1 {
    font-size: 1.7rem;
    color: #38d39f;
}

.right_div {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
}

.add {
    color: #38d39f;
    font-size: 1.7rem;
    position: relative;
}

.profile {
    width: 45px;
    height: 45px;
    color: #38d39f;
    font-size: 1.7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #38d39f;
=======
    /* cursor: pointer; */
}

.main_container
{
    width: 100vw;
    height: 100vh;
    background-color: #f1f5f9;
    /* border: 1px solid black; */
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
.profile:focus+.profile_li {
    opacity: 1;
}

.profile_li {
    position: absolute;
    margin-top: 130px;
    width: 110px;
    height: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 15px;
    opacity: 0;
}

.PROFILE {
    width: 110px;
    text-decoration: none;
    color: white;
    background-color: #38d39f;
    height: 32px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PROFILE:hover {
    background-color: gray;
}

.LOGOUT {
    width: 110px;
    text-decoration: none;
    color: white;
    background-color: #38d39f;
    height: 32px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LOGOUT:hover {
    background-color: gray;
}

.create_class_hover {
    background-color: rgb(32, 31, 31);
    color: white;
    display: flex;
    position: absolute;
    text-align: center;
    font-size: 12px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
    border: 1px solid white;
    margin-top: 60px;
    margin-right: 100px;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.main_container
{
    width: 100%;
    height: 621px;
    background-color: #d8e9face;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
=======


>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
.center_div
{
    width: 90%;
    height: 90%;
<<<<<<< HEAD
    background-color: white;
=======
    background-color: #f1f5f9;
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
    display: flex;
}
.main_left_div
{
    width: 70%;
    height: 100%;
<<<<<<< HEAD
}
.top
{
    width: 100%;
    height: 29%;
    border: 1px solid black;
}
.top h3
{
    padding-left: 25px;
    padding-top: 25px;
=======
    margin-top: 30px;
    /* margin-bottom: -200px; */
    /* margin-left: 20px; */
    /* background-color: red; */
    /* background-color: white; */
}
.top
{   
    width: 100%;
    height: 20%;
    /* margin-top: 20px; */
    justify-content: center;
    /* border: 1px solid black; */
    /* margin-bottom: 10px; */
    background-color: white;
}

.ques{
    /* margin-top: 50px; */
    margin-left: 20px;
    margin-right: 20px;
    /* padding-top: 40px; */
    /* padding-bottom: 20dp; */
}

.ques h4
{
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
}
.center
{
    width: 100%;
<<<<<<< HEAD
    height: 40%;
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
=======
    height: 30%;
    display: flex;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    background-color: white;
    margin-top: 10px;
    padding-bottom: 30px;

>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
}
.question_left
{
    width: 50%;
    height: 100%;
}
.question_left li:nth-child(1)
{
<<<<<<< HEAD
    margin-top: 55px;
=======
    margin-top: 44px;
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
    margin-left: 50px;
}
.question_left li:nth-child(2)
{
<<<<<<< HEAD
    margin-top: 55px;
=======
    margin-top: 44px;
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
    margin-left: 50px;
}
.question_right
{
    width: 50%;
    height: 100%;
}
.question_right li:nth-child(1)
{
<<<<<<< HEAD
    margin-top: 55px;
=======
    margin-top: 44px;
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
    margin-right: 50px;
}
.question_right li:nth-child(2)
{
<<<<<<< HEAD
    margin-top: 55px;
=======
    margin-top: 44px;
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
    margin-right: 50px;
}
.question_right li input,.question_left li input
{
    margin-right: 15px;
}
.center2
{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
<<<<<<< HEAD
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
=======
    /* padding-top: 40px; */
    /* border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black; */
    background-color: white;
    margin-bottom: 20px;

>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
}
.center2 .next
{
    text-decoration: none;
    padding: 8px 20px;
    font-size: 20px;
<<<<<<< HEAD
    margin-left: 320px;
    color: white;
    background-color: blueviolet;
=======
    margin-left: 20px;
    color: white;
    /* background-color: blueviolet; */
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
}
.center2 .previous
{
    text-decoration: none;
    padding: 8px 20px;
    font-size: 20px;
<<<<<<< HEAD
    margin-left: 120px;
    color: white;
    background-color: blueviolet;
=======
    margin-left: 300px;
    color: white;
    /* background-color: blueviolet; */
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
}
.bottom
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
<<<<<<< HEAD
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.bottom span
=======
    margin-top: 10px;
    
    /* border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black; */
    background-color: white;
    margin-bottom: -200px;
}
.bottom button
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    border:1px solid black;
<<<<<<< HEAD
}
.main_right_div
{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
=======
    padding: 20px 0px;
}

.main_right_div
{
    width: 29%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    /* margin-bottom: 25px; */
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
    justify-content: space-around;
    align-items: center;
}
.time_bar
{
<<<<<<< HEAD
    width: 80%;
    height: 45%;
    background-color: yellow;
}
.question_bar
{
    width: 80%;
    height: 45%;
    background-color: rgb(0, 255, 55);
    display: flex;
    justify-content: center;
    align-items: center;

=======
    width: 85%;
    height: 45%;
    background-color: white;
}
#videoElement {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 3%;
}
.question_bar
{
    width: 85%;
    height: 45%;
    padding: 50px 0px 50px 0px ;
    background-color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
>>>>>>> 1c85a9c012177addf809865c1a27d6192a730dc5
}
.clock 
{
    padding: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 30%;
    font-size: 24px;
  }
  .progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  
  .progress-ring__circle {
    transition: 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: rgb(51, 65, 255);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  
  .danger {
    stroke: rgb(243, 17, 28);
    animation: pulse 0.9s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0%,
    100% {
      transform: rotate(-90deg) scale(1);
      -webkit-transform: rotate(-90deg) scale(1);
      -moz-transform: rotate(-90deg) scale(1);
      -ms-transform: rotate(-90deg) scale(1);
      -o-transform: rotate(-90deg) scale(1);
}
    50% {
      transform: rotate(-90deg) scale(1.05);
    }
    75% {
      transform: rotate(-90deg) scale(0.8);
    }
  }



