* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


.course_header {
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-image: url(course_header_bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.course {
    padding: 10px;
    text-align: center;
    color: aliceblue;
    padding-bottom: 60px;
}

.main {
    margin-left: 5%;
    margin-top: 20px;
    height: 480px;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.main_left {
    width: 40%;
}

.course_h {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_m {
    margin: 32px 70px 70px 70px;
    border: 1.5px solid black;
    border-radius: 3px;
    height: 415px;
}

.left_msg {
    width: 342px;
    height: 32px;
    margin-top: 376px;
    display: flex;
    border-top: 1.5px solid black;
    justify-content: space-between;
    align-items: center;
}

.left_msg .left {
    width: 20%;
    outline: none;
    border: none;
}

.lm {
    border: none;
    width: 275px;
    font-size: 16px;
    height: 25px;
}

.left_msg .left ::placeholder {
    color: black;
}

.left_msg .left input {
    outline: none;
    padding-left: 10px;
    height: 33px;
    margin-top: 5px;
}

.right button {
    width: 65px;
    height: 34px;
    background-color: red;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: -0.6px;
    margin-top: 4.4px;
    border-left: 1.5px solid black;
}

.main_right {
    width: 60%;
    margin-bottom: 20px;
}

.right_stu #text {
    font-size: 22px;
    margin: 5px;
    text-align: center;
}

.main_right .right_stu {
    margin-top: -20px;
    width: 90%;
    height: 415px;
    margin: 5%;
    border: 1.5px solid black;
}

.right_stu .right_top {
    border-bottom: 1.5px solid black;
}

.right_stu .right_bottom {
    display: grid;
    grid-template-columns: 40% 45% 15%;
    grid-template-rows: 40px 30px 30px 30px;
    margin-left: -1px;
}

.grid_item1 {
    padding-top: 4px;
    text-align: center;
    font-size: 18px;
    border: .75px solid black;
}

.grid_item {
    border: .75px solid black;
    padding-left: 5px;
}