nav
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #272a29;
}
.left_div
{
    width: 550px;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.hamberg
{
    text-decoration: none;
    font-size: 1.7rem;
    padding-left: 40px;
    padding-right: 20px;
    color: #38d39f;
}
.logo
{
    width: 100px;
    margin-right: 10px;
}
.h1
{
    font-size: 1.7rem;
    color: #38d39f;
}
.right_div
{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right:20px;
}
.add
{
    color: #38d39f;
    font-size: 1.7rem;
    position: relative;
}  
                                           
.profile
{
    width: 45px;
    height: 45px;
    color: #38d39f;
    font-size: 1.7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #38d39f;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10px; */
}
.profile:focus + .profile_li
{
  opacity: 1;
}

.login_name {
  color: white;
  font-size: 12px;
}


.profile_li
{
  position:absolute;
  margin-top: 130px;
  width: 110px;
  height: 70px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-left: 15px;
  opacity: 0;
}




.PROFILE
{
 width: 110px;
 text-decoration:none;
 color: white;
 background-color:#38d39f;
 height: 32px;
 text-align: center;
 border-radius: 10px 10px 0px 0px;
 -webkit-border-radius: 10px 10px 0px 0px;
 -moz-border-radius: 10px 10px 0px 0px;
 -ms-border-radius: 10px 10px 0px 0px;
 -o-border-radius: 10px 10px 0px 0px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.PROFILE:hover
{
  background-color:gray;
}
.LOGOUT
{
  width: 110px;
  text-decoration:none;
  color: white;
  background-color:#38d39f;
  height: 32px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  display: flex;
 align-items: center;
 justify-content: center;
}
.LOGOUT:hover
{
  background-color:gray;
}
.create_class_hover
{
  background-color: rgb(32, 31, 31);
  color: white;
  display: flex;
  position: absolute;
  text-align: center;
  font-size: 12px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  padding-top: 2px;
  border: 1px solid white;
  margin-top: 60px;
  margin-right: 100px;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.add:hover ~ .create_class_hover
{
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}