
:root {
    --main-color: #2ac95a;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: fit-content;
    grid-gap: 2rem; 
    margin-top: 1rem;
}

.card-single {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    /* width: 180px; */
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}


.card-single div:last-child span {   
    /* font-size: 12px; */
    color: var(--main-color);
}

.card-single div:first-child span {
    color: var(--text-grey);
}

.card-single:last-child {
    background: var(--main-color);
    width: auto;
}

.card-single:last-child h1, 
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span {
    color: #fff;
}























/*********************************************************************************************************/
@media screen and (max-width: 1400px)
{
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: fit-content;
        padding: 20px;
        grid-gap: 2rem; 
        margin-top: 8rem;
    }
}
@media screen and (max-width: 1000px)
{
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
        grid-gap: 3rem; 
        padding: 20px;
        margin-top: 0px;
        margin-right: 100px;
    }
}
@media screen and (max-width: 750px)
{
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
        grid-gap: 3rem; 
        padding: 20px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 563px)
{
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
        grid-gap: 3rem; 
        padding: 20px;
        margin-top: 0px;
        margin-right: 230px;
    }
    .card-single {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 280px;
        /* width: 180px; */
        background: #fff;
        padding: 2rem;
        border-radius: 2px;
    }
}
@media screen and (max-width: 563px)
{
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
        grid-gap: 3rem; 
        padding: 20px;
        margin-top: 0px;
        margin-right: 330px;
    }
}